---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_personal_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1585850778'
      Etag:
      - W/"410cdc5a92b794725bd775b9904a6cc8"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"meredithkfwilliams","id":9553766,"node_id":"MDQ6VXNlcjk1NTM3NjY=","avatar_url":"https://avatars1.githubusercontent.com/u/9553766?v=4","gravatar_id":"","url":"https://api.github.com/users/meredithkfwilliams","html_url":"https://github.com/meredithkfwilliams","followers_url":"https://api.github.com/users/meredithkfwilliams/followers","following_url":"https://api.github.com/users/meredithkfwilliams/following{/other_user}","gists_url":"https://api.github.com/users/meredithkfwilliams/gists{/gist_id}","starred_url":"https://api.github.com/users/meredithkfwilliams/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/meredithkfwilliams/subscriptions","organizations_url":"https://api.github.com/users/meredithkfwilliams/orgs","repos_url":"https://api.github.com/users/meredithkfwilliams/repos","events_url":"https://api.github.com/users/meredithkfwilliams/events{/privacy}","received_events_url":"https://api.github.com/users/meredithkfwilliams/received_events","type":"User","site_admin":false},{"login":"alerrian","id":21130370,"node_id":"MDQ6VXNlcjIxMTMwMzcw","avatar_url":"https://avatars1.githubusercontent.com/u/21130370?v=4","gravatar_id":"","url":"https://api.github.com/users/alerrian","html_url":"https://github.com/alerrian","followers_url":"https://api.github.com/users/alerrian/followers","following_url":"https://api.github.com/users/alerrian/following{/other_user}","gists_url":"https://api.github.com/users/alerrian/gists{/gist_id}","starred_url":"https://api.github.com/us[...]
