---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_personal_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1585850779'
      Etag:
      - W/"a825c8b0e0a999644f70396dd7cbbc65"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"cpsoinos","id":10081464,"node_id":"MDQ6VXNlcjEwMDgxNDY0","avatar_url":"https://avatars3.githubusercontent.com/u/10081464?v=4","gravatar_id":"","url":"https://api.github.com/users/cpsoinos","html_url":"https://github.com/cpsoinos","followers_url":"https://api.github.com/users/cpsoinos/followers","following_url":"https://api.github.com/users/cpsoinos/following{/other_user}","gists_url":"https://api.github.com/users/cpsoinos/gists{/gist_id}","starred_url":"https://api.github.com/users/cpsoinos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cpsoinos/subscriptions","organizations_url":"https://api.github.com/users/cpsoinos/orgs","repos_url":"https://api.github.com/users/cpsoinos/repos","events_url":"https://api.github.com/users/cpsoinos/events{/privacy}","received_events_url":"https://api.github.com/users/cpsoinos/received_events","type":"User","site_admin":false},{"login":"kalyco","id":9660298,"node_id":"MDQ6VXNlcjk2NjAyOTg=","avatar_url":"https://avatars3.githubusercontent.com/u/9660298?v=4","gravatar_id":"","url":"https://api.github.com/users/kalyco","html_url":"https://github.com/kalyco","followers_url":"https://api.github.com/users/kalyco/followers","following_url":"https://api.github.com/users/kalyco/following{/other_user}","gists_url":"https://api.github.com/users/kalyco/gists{/gist_id}","starred_url":"https://api.github.com/users/kalyco/sta[...]
