<h4>Hey <%= @invited_user_name %></h4>
<p><%="You have been invited by #{@user.first_name} to join our App, Turing Tutorials!"%></p>
<p>To visit and sign up:  <%= link_to 'Turing Tutorials', "#{@url}" %></p>