<h4>Hey <%= @user.first_name  %>,</h4>
<p>Thank you for creating an account with Turing Tutorials! Welcome to the community!</p>
<p>Please activate your account <%= link_to 'Acitvate Now', "http://localhost:3000/users/activate?confirm=#{(@user.confirm_token)}" %></p>