---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<github_personal_token2>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1585245472'
      Etag:
      - W/"d2772508d25271ac6a2d0fdfa7a551d6"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<github_personal_token2>&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<github_personal_token2>&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":238046310,"node_id":"MDEwOlJlcG9zaXRvcnkyMzgwNDYzMTA=","name":"adopt_dont_shop_paired","full_name":"alerrian/adopt_dont_shop_paired","private":false,"owner":{"login":"alerrian","id":21130370,"node_id":"MDQ6VXNlcjIxMTMwMzcw","avatar_url":"https://avatars1.githubusercontent.com/u/21130370?v=4","gravatar_id":"","url":"https://api.github.com/users/alerrian","html_url":"https://github.com/alerrian","followers_url":"https://api.github.com/users/alerrian/followers","following_url":"https://api.github.com/users/alerrian/following{/other_user}","gists_url":"https://api.github.com/users/alerrian/gists{/gist_id}","starred_url":"https://api.github.com/users/alerrian/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alerrian/subscriptions","organizations_url":"https://api.github.com/users/alerrian/orgs","repos_url":"https://api.github.com/users/alerrian/repos","events_url":"https://api.github.com/users/alerrian/events{/privacy}","received_events_url":"https://api.github.com/users/alerrian/received_events","type":"User","site_admin":false},"html_url":"https://github.com/alerrian/adopt_dont_shop_paired","description":null,"fork":false,"url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired","forks_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/forks","keys_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/keys{/key_id}","collaborators_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/teams","hooks_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/hooks","issue_events_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/issues/events{/number}","events_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/events","assignees_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/assignees{/user}","branches_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/branches{/branch}","tags_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/tags","blobs_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/git/refs{/sha}","trees_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/git/trees{/sha}","statuses_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/statuses/{sha}","languages_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/languages","stargazers_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/stargazers","contributors_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/contributors","subscribers_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/subscribers","subscription_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/subscription","commits_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/commits{/sha}","git_commits_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/git/commits{/sha}","comments_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/comments{/number}","issue_comment_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/issues/comments{/number}","contents_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/contents/{+path}","compare_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/compare/{base}...{head}","merges_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/merges","archive_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/downloads","issues_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/issues{/number}","pulls_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/pulls{/number}","milestones_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/milestones{/number}","notifications_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/labels{/name}","releases_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/releases{/id}","deployments_url":"https://api.github.com/repos/alerrian/adopt_dont_shop_paired/deployments","created_at":"2020-02-03T19:40:36Z","updated_at":"2020-02-13T02:46:53Z","pushed_at":"2020-03-04T21:05:08Z","git_url":"git://github.com/alerrian/adopt_dont_shop_paired.git","ssh_url":"git@github.com:alerrian/adopt_dont_shop_paired.git","clone_url":"https://github.com/alerrian/adopt_dont_shop_paired.git","svn_url":"https://github.com/alerrian/adopt_dont_shop_paired","homepage":null,"size":314,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":null,"forks":0,"open_issues":2,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":241474788,"node_id":"MDEwOlJlcG9zaXRvcnkyNDE0NzQ3ODg=","name":"monster_shop_1911","full_name":"meghanstovall/monster_shop_1911","private":false,"owner":{"login":"meghanstovall","id":42551404,"node_id":"MDQ6VXNlcjQyNTUxNDA0","avatar_url":"https://avatars0.githubusercontent.com/u/42551404?v=4","gravatar_id":"","url":"https://api.github.com/users/meghanstovall","html_url":"https://github.com/meghanstovall","followers_url":"https://api.github.com/users/meghanstovall/followers","followin[...]
[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<github_personal_token2>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1585251076'
      Etag:
      - W/"d138ddd25d[...]
[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<github_personal_token2>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1585251077'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 26 Mar 2020 18:52:27 GMT
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_personal_token2>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1585673937'
      Etag:
      - W/"da0f0b8bb67ee3f04e0d24252c433385"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - g[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_personal_token2>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1585673937'
      Etag:[...]
[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_personal_token2>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1585673937'
      Etag:[...]
[...]
