---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<github_personal_token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1585625283'
      Etag:
      - W/"24214c8d8903b0bf682beb2791afde6b"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<github_personal_token>&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<github_personal_token>&page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":32467551,"node_id":"MDEwOlJlcG9zaXRvcnkzMjQ2NzU1MQ==","name":"Active-Record-Querying-and-Associations","full_name":"iEv0lv3/Active-Record-Querying-and-Associations","private":false,"owner":{"login":"iEv0lv3","id":10391857,"node_id":"MDQ6VXNlcjEwMzkxODU3","avatar_url":"https://avatars1.githubusercontent.com/u/10391857?v=4","gravatar_id":"","url":"https://api.github.com/users/iEv0lv3","html_url":"https://github.com/iEv0lv3","followers_url":"https://api.github.com/users/iEv0lv3/followers","following_url":"https://api.github.com/users/iEv0lv3/following{/other_user}","gists_url":"https://api.github.com/users/iEv0lv3/gists{/gist_id}","starred_url":"https://api.github.com/users/iEv0lv3/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/iEv0lv3/subscriptions","organizations_url":"https://api.github.com/users/iEv0lv3/orgs","repos_url":"https://api.github.com/users/iEv0lv3/repos","events_url":"https://api.github.com/users/iEv0lv3/events{/privacy}","received_events_url":"https://api.github.com/users/iEv0lv3/received_events","type":"User","site_admin":false},"html_url":"https://github.com/iEv0lv3/Active-Record-Querying-and-Associations","description":"1.0","fork":false,"url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations","forks_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/forks","keys_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/keys{/key_id}","collaborators_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/teams","hooks_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/hooks","issue_events_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/issues/events{/number}","events_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/events","assignees_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/assignees{/user}","branches_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/branches{/branch}","tags_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/tags","blobs_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/git/refs{/sha}","trees_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/git/trees{/sha}","statuses_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/statuses/{sha}","languages_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/languages","stargazers_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/stargazers","contributors_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/contributors","subscribers_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/subscribers","subscription_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/subscription","commits_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/commits{/sha}","git_commits_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/git/commits{/sha}","comments_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/comments{/number}","issue_comment_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/issues/comments{/number}","contents_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/contents/{+path}","compare_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/compare/{base}...{head}","merges_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/merges","archive_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/downloads","issues_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/issues{/number}","pulls_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/pulls{/number}","milestones_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/milestones{/number}","notifications_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/labels{/name}","releases_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/releases{/id}","deployments_url":"https://api.github.com/repos/iEv0lv3/Active-Record-Querying-and-Associations/deployments","created_at":"2015-03-18T15:36:22Z","updated_at":"2015-03-18T15:36:24Z","pushed_at":"2015-03-18T15:36:24Z","git_url":"git://github.com/iEv0lv3/Active-Record-Querying-and-Associations.git","ssh_url":"git@github.com:iEv0lv3/Active-Record-Querying-and-Associations.git","clone_url":"https://github.com/iEv0lv3/Active-Record-Querying-and-Associations.git","svn_url":"https://github.com/iEv0lv3/Active-Record-Querying-and-Associations","homepage":null,"size":108,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":240801886,"node_id":"MDEwOlJlcG9zaXRvcnkyNDA4MDE4ODY=","name":"activerecord-obstacle-course","full_name":"iEv0lv3/activerecord-obstacle-course","private":false,"owner":{"login":"iEv0lv3","id":10391857,"node_id":"MDQ6VXNlcjEwMzkxODU3","avatar_url":"https://avatars1.githubusercontent.com/u/10391857?v=4","gravatar_id":"","url":"https://api.github.com/users/iEv0lv3","html_url":"https://github.com/iEv0lv3","followers_url":"https://api.github.com/users/iEv0lv3/followers","following_url":"[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<github_personal_token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1585625283'
      Etag:
      - W/"a313dd7b152[...]
[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<github_personal_token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1585625283'
      Etag:
      - W/"4557d2a80d1[...]
[...]
